Repository michelin/suricate, pull requests merged in 2018-03, with the labels that each got.

#75 Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Labels: documentation

#91 Feature/docker support (Fix #90)
  .gitignore
  .travis.yml
  backend/Dockerfile
  backend/src/main/resources/application-docker.properties
  docker-compose.yml
  frontend/Dockerfile
Labels: backend, expert, frontend, new feature

#95 Refactor properties to yml -
  backend/src/main/java/io/suricate/monitoring/configuration/ApplicationProperties.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-docker.properties
  backend/src/main/resources/application-docker.yml
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
Labels: backend, enhancement

#97 Feature/update documentation
  README.md
  backend/README.md
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application.yml
  frontend/README.md
Labels: documentation
