Repository michelin/suricate, pull requests merged in 2018-06, with the labels that each got.

#234 Issue #216 - Feature/execute widget frontend js
  backend/src/main/java/io/suricate/monitoring/configuration/security/oauth2/OAuth2ResourceServerConfiguration.java
  frontend/.angular-cli.json
  frontend/package.json
  frontend/src/app/modules/dashboard/components/dashboard-screen/dashboard-screen.component.html
  frontend/src/app/modules/dashboard/components/dashboard-screen/dashboard-screen.component.ts
  frontend/src/app/modules/dashboard/dashboard-tv/dashboard-tv.component.ts
  frontend/src/app/shared/directives/run-scripts.directive.spec.ts
  frontend/src/app/shared/directives/run-scripts.directive.ts
  frontend/src/app/shared/model/websocket/WSConfiguration.ts
  frontend/src/app/shared/services/websocket.service.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/index.html
  frontend/webpack/webpack.commons.js
Labels: backend, enhancement, frontend, intermediate

#237 Issue #83 - Feature/resync dashboard
  backend/src/main/java/io/suricate/monitoring/controllers/api/ScreenController.java
  backend/src/main/java/io/suricate/monitoring/model/enums/UpdateType.java
  backend/src/main/java/io/suricate/monitoring/service/webSocket/DashboardWebSocketService.java
  frontend/package-lock.json
  frontend/src/app/modules/dashboard/components/dashboard-screen/dashboard-screen.component.ts
  frontend/src/app/modules/dashboard/screen.service.ts
  frontend/src/app/shared/components/pages-header/components/dashboard-actions/dashboard-actions.component.html
  frontend/src/app/shared/components/pages-header/components/dashboard-actions/dashboard-actions.component.ts
  frontend/src/app/shared/model/websocket/enums/WSUpdateType.ts
Labels: backend, beginner, frontend, new feature

#239 Issue #84 - Feature/display dashboard widget errors
  frontend/src/app/modules/dashboard/components/dashboard-screen/dashboard-screen.component.css
  frontend/src/app/modules/dashboard/components/dashboard-screen/dashboard-screen.component.html
  frontend/src/app/modules/dashboard/components/dashboard-screen/dashboard-screen.component.ts
  frontend/src/app/modules/dashboard/dashboard.service.ts
  frontend/src/app/shared/services/websocket.service.ts
Labels: frontend, intermediate, new feature

#246 Feature/docker compose support
  backend/Dockerfile
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-docker.yml
  backend/src/main/resources/db/migration/V1_6__initDemoUser.sql
  backend/src/test/resources/application-test.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/src/index.html
Labels: bug, enhancement

#247 Issue #240 - Feature/home page
  frontend/src/app/modules/dashboard/components/dashboard-screen/dashboard-screen.component.html
  frontend/src/app/modules/home/components/add-dashboard-dialog/add-dashboard-dialog.component.css
  frontend/src/app/modules/home/components/add-dashboard-dialog/add-dashboard-dialog.component.html
  frontend/src/app/modules/home/components/add-dashboard-dialog/add-dashboard-dialog.component.spec.ts
  frontend/src/app/modules/home/components/add-dashboard-dialog/add-dashboard-dialog.component.ts
  frontend/src/app/modules/home/home.module.ts
  frontend/src/app/modules/home/home/home.component.css
  frontend/src/app/modules/home/home/home.component.html
  frontend/src/app/modules/home/home/home.component.ts
  frontend/src/app/shared/components/pages-header/components/dashboard-actions/dashboard-actions.component.ts
  frontend/src/app/shared/components/pages-header/components/home-actions/home-actions.component.css
  frontend/src/app/shared/components/pages-header/components/home-actions/home-actions.component.html
  frontend/src/app/shared/components/pages-header/components/home-actions/home-actions.component.spec.ts
  frontend/src/app/shared/components/pages-header/components/home-actions/home-actions.component.ts
  frontend/src/app/shared/components/pages-header/pages-header.component.html
  frontend/src/app/shared/shared.module.ts
Labels: beginner, frontend, new feature

#248 Issue #242 - Display widget user info
  frontend/src/app/modules/dashboard/components/edit-project-widget-dialog/edit-project-widget-dialog.component.css
  frontend/src/app/modules/dashboard/components/edit-project-widget-dialog/edit-project-widget-dialog.component.html
  frontend/src/app/shared/components/pages-header/components/add-widget-dialog/add-widget-dialog.component.css
  frontend/src/app/shared/components/pages-header/components/add-widget-dialog/add-widget-dialog.component.html
Labels: beginner, enhancement, frontend

#250 Issue #236 - Feature/display screen code on demand
  backend/src/main/java/io/suricate/monitoring/controllers/api/ScreenController.java
  backend/src/main/java/io/suricate/monitoring/service/webSocket/DashboardWebSocketService.java
  frontend/src/app/modules/dashboard/components/dashboard-screen/dashboard-screen.component.css
  frontend/src/app/modules/dashboard/components/dashboard-screen/dashboard-screen.component.html
  frontend/src/app/modules/dashboard/components/dashboard-screen/dashboard-screen.component.ts
  frontend/src/app/modules/dashboard/screen.service.ts
  frontend/src/app/shared/components/pages-header/components/tv-management-dialog/tv-management-dialog.component.css
  frontend/src/app/shared/components/pages-header/components/tv-management-dialog/tv-management-dialog.component.html
  frontend/src/app/shared/components/pages-header/components/tv-management-dialog/tv-management-dialog.component.ts
Labels: backend, beginner, frontend, new feature

#254 Finalize footer
  frontend/src/app/app.component.html
  frontend/src/app/modules/authentication/login/login.component.css
  frontend/src/app/modules/authentication/register/register.component.css
  frontend/src/app/modules/core/sidenav/sidenav.component.css
  frontend/src/app/shared/components/pages-footer/pages-footer.component.css
  frontend/src/app/shared/components/pages-footer/pages-footer.component.html
  frontend/src/app/shared/shared.module.ts
  frontend/src/styles.css
Labels: beginner, frontend, ui / ux

#252 Docker compose 4 dev env
  docker-compose-dev.yml
Labels: beginner, enhancement

#253 Issue #251 - Display TV View when click on the button
  frontend/src/app/shared/components/pages-header/components/dashboard-actions/dashboard-actions.component.html
  frontend/src/app/shared/components/pages-header/components/dashboard-actions/dashboard-actions.component.ts
Labels: beginner, frontend, new feature

#264 Feature/user role admin part
  backend/src/main/java/io/suricate/monitoring/controllers/api/RoleController.java
  backend/src/main/java/io/suricate/monitoring/controllers/api/UserController.java
  backend/src/main/java/io/suricate/monitoring/service/api/RoleService.java
  backend/src/main/java/io/suricate/monitoring/service/api/UserService.java
  frontend/src/app/modules/configuration/configuration-list/configuration-list.component.css
  frontend/src/app/modules/dashboard/dashboard-edit/dashboard-edit.component.css
  frontend/src/app/modules/dashboard/dashboard-list/dashboard-list.component.css
  frontend/src/app/modules/user/role.service.spec.ts
  frontend/src/app/modules/user/role.service.ts
  frontend/src/app/modules/user/user-edit/user-edit.component.css
  frontend/src/app/modules/user/user-edit/user-edit.component.html
  frontend/src/app/modules/user/user-edit/user-edit.component.ts
  frontend/src/app/modules/user/user-list/user-list.component.css
  frontend/src/app/modules/user/user-list/user-list.component.ts
  frontend/src/app/modules/user/user.module.ts
  frontend/src/app/shared/services/abstract-http.service.ts
  frontend/src/assets/styles/themes/shared/custom-theming-rules.scss
Labels: backend, beginner, frontend, new feature

#265 WIP: Feature/i18n
  .gitignore
  frontend/.angular-cli.json
  frontend/package.json
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/modules/authentication/login/login.component.html
  frontend/src/app/modules/authentication/register/register.component.html
  frontend/src/app/modules/configuration/configuration-list/configuration-list.component.html
  frontend/src/app/modules/core/sidenav/sidenav.component.html
  frontend/src/app/modules/core/sidenav/sidenav.component.ts
  frontend/src/app/modules/dashboard/components/dashboard-screen/dashboard-screen.component.html
  frontend/src/app/modules/dashboard/components/delete-dashboard-dialog/delete-dashboard-dialog.component.html
  frontend/src/app/modules/dashboard/components/delete-project-widget-dialog/delete-project-widget-dialog.component.html
  frontend/src/app/modules/dashboard/components/edit-project-widget-dialog/edit-project-widget-dialog.component.html
  frontend/src/app/modules/dashboard/dashboard-detail/dashboard-detail.component.html
  frontend/src/app/modules/home/components/add-dashboard-dialog/add-dashboard-dialog.component.html
  frontend/src/app/modules/home/home/home.component.html
  frontend/src/app/modules/user/components/delete-user-dialog/delete-user-dialog.component.html
  frontend/src/app/modules/user/user-edit/user-edit.component.html
  frontend/src/app/modules/user/user-list/user-list.component.html
  frontend/src/app/modules/widget/widget-list/widget-list.component.html
  frontend/src/app/shared/components/pages-footer/pages-footer.component.html
  frontend/src/app/shared/components/pages-header/pages-header.component.html
  frontend/src/app/shared/components/translations/translation.component.html
  frontend/src/app/shared/components/translations/translation.component.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/assets/i18n/en.json
  frontend/src/assets/i18n/fr.json
Labels: enhancement, frontend, intermediate, ui / ux

#266 Feature/i18n
  frontend/src/app/app.component.ts
  frontend/src/app/modules/configuration/configuration-list/configuration-list.component.html
  frontend/src/app/modules/dashboard/dashboard-list/dashboard-list.component.html
  frontend/src/app/modules/home/components/add-dashboard-dialog/add-dashboard-dialog.component.html
  frontend/src/app/modules/settings/setting-list/setting-list.component.html
  frontend/src/app/modules/user/user-list/user-list.component.html
  frontend/src/app/modules/widget/widget-list/widget-list.component.html
  frontend/src/app/shared/components/pages-header/components/add-widget-dialog/add-widget-dialog.component.html
  frontend/src/app/shared/components/pages-header/components/dashboard-actions/dashboard-actions.component.html
  frontend/src/assets/i18n/en.json
  frontend/src/assets/i18n/fr.json
Labels: beginner, enhancement, frontend

#270 Switch CI to semaphoreci
  README.md
Labels: documentation

#271 Remove useless travis configuration
  .travis.yml
Labels: dependencies
