Repository michelin/suricate, pull requests merged in 2018-05, with the labels that each got.

#205 Issue #81 - Feature/dashboard management
  backend/src/main/java/io/suricate/monitoring/controllers/api/ProjectController.java
  backend/src/main/java/io/suricate/monitoring/model/mapper/project/ProjectWidgetMapper.java
  backend/src/main/java/io/suricate/monitoring/service/api/ProjectService.java
  frontend/src/app/modules/core/sidenav/sidenav.component.html
  frontend/src/app/modules/core/sidenav/sidenav.component.ts
  frontend/src/app/modules/dashboard/components/delete-dashboard-dialog/delete-dashboard-dialog.component.css
  frontend/src/app/modules/dashboard/components/delete-dashboard-dialog/delete-dashboard-dialog.component.html
  frontend/src/app/modules/dashboard/components/delete-dashboard-dialog/delete-dashboard-dialog.component.spec.ts
  frontend/src/app/modules/dashboard/components/delete-dashboard-dialog/delete-dashboard-dialog.component.ts
  frontend/src/app/modules/dashboard/dashboard-edit/dashboard-edit.component.css
  frontend/src/app/modules/dashboard/dashboard-edit/dashboard-edit.component.html
  frontend/src/app/modules/dashboard/dashboard-edit/dashboard-edit.component.spec.ts
  frontend/src/app/modules/dashboard/dashboard-edit/dashboard-edit.component.ts
  frontend/src/app/modules/dashboard/dashboard-list/dashboard-list.component.css
  frontend/src/app/modules/dashboard/dashboard-list/dashboard-list.component.html
  frontend/src/app/modules/dashboard/dashboard-list/dashboard-list.component.spec.ts
  frontend/src/app/modules/dashboard/dashboard-list/dashboard-list.component.ts
  frontend/src/app/modules/dashboard/dashboard.module.ts
  frontend/src/app/modules/dashboard/dashboard.service.ts
  frontend/src/app/shared/components/pages-header/components/add-dashboard-dialog/add-dashboard-dialog.component.html
  frontend/src/app/shared/components/pages-header/components/add-dashboard-dialog/add-dashboard-dialog.component.ts
  frontend/src/app/shared/components/toast/toast.component.css
  frontend/src/app/shared/components/toast/toast.component.html
  frontend/src/app/shared/services/abstract-http.service.ts
Labels: backend, beginner, frontend, new feature

#207 Issue #204 - Feature/display notification
  frontend/src/app/modules/authentication/authentication.service.ts
  frontend/src/app/modules/authentication/register/register.component.ts
  frontend/src/app/modules/dashboard/dashboard.service.ts
  frontend/src/app/modules/widget/widget-list/widget-list.component.html
  frontend/src/app/modules/widget/widget-list/widget-list.component.ts
  frontend/src/app/shared/components/toast/toast.component.css
Labels: beginner, enhancement, frontend

#209 Issue #208 - Feature/widget position
  backend/src/main/java/io/suricate/monitoring/controllers/api/ProjectController.java
  backend/src/main/java/io/suricate/monitoring/model/dto/project/ProjectWidgetPositionDto.java
  backend/src/main/java/io/suricate/monitoring/service/api/ProjectWidgetService.java
  backend/src/main/java/io/suricate/monitoring/service/webSocket/DashboardWebSocketService.java
  frontend/src/app/modules/dashboard/dashboard-detail/dashboard-detail.component.html
  frontend/src/app/modules/dashboard/dashboard-detail/dashboard-detail.component.ts
  frontend/src/app/modules/dashboard/dashboard-edit/dashboard-edit.component.ts
  frontend/src/app/modules/dashboard/dashboard.service.ts
  frontend/src/app/shared/components/pages-header/components/add-dashboard-dialog/add-dashboard-dialog.component.ts
  frontend/src/app/shared/model/dto/ProjectWidgetPosition.ts
  frontend/src/app/shared/services/abstract-http.service.ts
Labels: backend, frontend, intermediate, new feature

#214 Add licence check for new file
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation
