Repository michelin/suricate, pull requests merged in 2018-07, with the labels that each got.

#284 Update README.md
  README.md
Labels: documentation

#288 Update README.md
  README.md
Labels: beginner, documentation, enhancement

#290 Issue #273 - Feature/test browser
  backend/src/main/java/io/suricate/monitoring/configuration/security/oauth2/OAuth2ResourceServerConfiguration.java
  backend/src/main/java/io/suricate/monitoring/controllers/api/ConfigurationController.java
  backend/src/main/java/io/suricate/monitoring/model/dto/ApplicationPropertiesDto.java
  backend/src/main/java/io/suricate/monitoring/service/api/ConfigurationService.java
  frontend/package.json
  frontend/src/app/app.constant.ts
  frontend/src/app/modules/authentication/login/login.component.html
  frontend/src/app/modules/authentication/login/login.component.ts
  frontend/src/app/modules/authentication/register/register.component.html
  frontend/src/app/modules/authentication/register/register.component.ts
  frontend/src/app/modules/configuration/configuration.service.ts
  frontend/src/app/modules/dashboard/components/dashboard-screen/dashboard-screen.component.ts
  frontend/src/app/modules/dashboard/dashboard-tv/dashboard-tv.component.ts
  frontend/src/app/shared/components/pages-header/components/dashboard-actions/dashboard-actions.component.html
  frontend/src/app/shared/directives/run-scripts.directive.ts
  frontend/src/app/shared/interceptors/error.interceptor.ts
  frontend/src/app/shared/interceptors/token.interceptor.ts
  frontend/src/app/shared/model/ApplicationProperties.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/assets/i18n/en.json
  frontend/src/assets/i18n/fr.json
  frontend/src/polyfills.ts
  frontend/tslint.json
Labels: backend, beginner, frontend

#293 Issue #291 - Feature/swagger
  backend/src/main/java/io/suricate/monitoring/configuration/ApplicationProperties.java
  backend/src/main/java/io/suricate/monitoring/configuration/security/ldap/LdapAuthentication.java
  backend/src/main/java/io/suricate/monitoring/configuration/swagger/SwaggerConfig.java
  backend/src/main/java/io/suricate/monitoring/configuration/swagger/SwaggerConfiguration.java
  backend/src/main/java/io/suricate/monitoring/controllers/api/AssetController.java
  backend/src/main/java/io/suricate/monitoring/controllers/api/ConfigurationController.java
  backend/src/main/java/io/suricate/monitoring/controllers/api/ProjectController.java
  backend/src/main/java/io/suricate/monitoring/controllers/api/RoleController.java
  backend/src/main/java/io/suricate/monitoring/controllers/api/ScreenController.java
  backend/src/main/java/io/suricate/monitoring/controllers/api/SettingController.java
  backend/src/main/java/io/suricate/monitoring/controllers/api/UserController.java
  backend/src/main/java/io/suricate/monitoring/controllers/api/WidgetController.java
  backend/src/main/java/io/suricate/monitoring/controllers/api/error/GlobalDefaultExceptionHandler.java
  backend/src/main/java/io/suricate/monitoring/model/dto/ApplicationPropertiesDto.java
  backend/src/main/java/io/suricate/monitoring/model/dto/AssetDto.java
  backend/src/main/java/io/suricate/monitoring/model/dto/ConfigurationDto.java
  backend/src/main/java/io/suricate/monitoring/model/dto/LibraryDto.java
  backend/src/main/java/io/suricate/monitoring/model/dto/error/ApiErrorDto.java
  backend/src/main/java/io/suricate/monitoring/model/dto/error/CustomError.java
  backend/src/main/java/io/suricate/monitoring/model/dto/project/ProjectDto.java
  backend/src/main/java/io/suricate/monitoring/model/dto/project/ProjectWidgetDto.java
  backend/src/main/java/io/suricate/monitoring/model/dto/project/ProjectWidgetPositionDto.java
  backend/src/main/java/io/suricate/monitoring/model/dto/setting/AllowedSettingValueDto.java
  backend/src/main/java/io/suricate/monitoring/model/dto/setting/SettingDto.java
  backend/src/main/java/io/suricate/monitoring/model/dto/setting/UserSettingDto.java
  backend/src/main/java/io/suricate/monitoring/model/dto/user/RoleDto.java
  backend/src/main/java/io/suricate/monitoring/model/dto/user/UserDto.java
  backend/src/main/java/io/suricate/monitoring/model/dto/websocket/WebsocketClient.java
  backend/src/main/java/io/suricate/monitoring/model/dto/widget/CategoryDto.java
  backend/src/main/java/io/suricate/monitoring/model/dto/widget/WidgetDto.java
  backend/src/main/java/io/suricate/monitoring/model/dto/widget/WidgetParamDto.java
  backend/src/main/java/io/suricate/monitoring/model/dto/widget/WidgetParamValueDto.java
  backend/src/main/java/io/suricate/monitoring/model/enums/ApiErrorEnum.java
  backend/src/main/java/io/suricate/monitoring/service/GitService.java
  backend/src/main/java/io/suricate/monitoring/service/api/CategoryService.java
  backend/src/main/java/io/suricate/monitoring/service/api/ProjectService.java
  backend/src/main/java/io/suricate/monitoring/service/api/ProjectWidgetService.java
  backend/src/main/java/io/suricate/monitoring/service/api/UserService.java
  backend/src/main/java/io/suricate/monitoring/utils/IdUtils.java
  backend/src/main/java/io/suricate/monitoring/utils/exception/ApiException.java
  backend/src/main/java/io/suricate/monitoring/utils/exception/ConfigurationException.java
  backend/src/main/java/io/suricate/monitoring/utils/exception/NoContentException.java
  backend/src/main/java/io/suricate/monitoring/utils/exception/ObjectNotFoundException.java
  backend/src/main/java/io/suricate/monitoring/utils/exception/ProjectTokenInvalidException.java
  backend/src/main/resources/application.yml
  backend/src/test/java/io/suricate/monitoring/utils/IdUtilsTest.java
  frontend/src/app/modules/dashboard/components/dashboard-screen/dashboard-screen.component.ts
Labels: backend, enhancement, intermediate

#296 Issue #294 - Feature/home nav link
  frontend/src/app/modules/core/sidenav/sidenav.component.css
  frontend/src/app/modules/core/sidenav/sidenav.component.html
  frontend/src/app/modules/dashboard/dashboard-tv/dashboard-tv.component.ts
  frontend/src/app/shared/services/settings.service.ts
  frontend/src/assets/i18n/en.json
  frontend/src/assets/i18n/fr.json
  frontend/src/assets/styles/themes/shared/custom-theming-rules.scss
Labels: beginner, frontend, new feature

#299 #297 - Reload widgets on demand from Admin part
  backend/src/main/java/io/suricate/monitoring/controllers/api/WidgetController.java
  backend/src/main/java/io/suricate/monitoring/model/enums/ApiActionEnum.java
  backend/src/main/java/io/suricate/monitoring/service/GitService.java
  frontend/src/app/modules/dashboard/dashboard-tv/dashboard-tv.component.ts
  frontend/src/app/modules/widget/widget-list/widget-list.component.ts
  frontend/src/app/modules/widget/widget.service.ts
  frontend/src/app/shared/components/pages-header/components/widget-list-actions/widget-list-actions.component.css
  frontend/src/app/shared/components/pages-header/components/widget-list-actions/widget-list-actions.component.html
  frontend/src/app/shared/components/pages-header/components/widget-list-actions/widget-list-actions.component.spec.ts
  frontend/src/app/shared/components/pages-header/components/widget-list-actions/widget-list-actions.component.ts
  frontend/src/app/shared/components/pages-header/pages-header.component.html
  frontend/src/app/shared/model/dto/enums/ApiActionEnum.ts
  frontend/src/app/shared/shared.module.ts
Labels: backend, frontend, intermediate, new feature

#301 Issue #297 - Replace complex enum by a simple enum
  backend/src/main/java/io/suricate/monitoring/controllers/api/WidgetController.java
  backend/src/main/java/io/suricate/monitoring/model/enums/ApiActionEnum.java
Labels: backend, beginner, enhancement

#304 Feature/angular6
  .gitignore
  frontend/.angular-cli.json
  frontend/angular.json
  frontend/karma.conf.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.ts
  frontend/src/app/home/components/add-dashboard-dialog/add-dashboard-dialog.component.ts
  frontend/src/app/layout/sidenav/pages/sidenav.component.html
  frontend/src/app/layout/sidenav/sidenav.service.ts
  frontend/src/app/modules/authentication/authentication.service.ts
  frontend/src/app/modules/dashboard/components/dashboard-screen/dashboard-screen.component.ts
  frontend/src/app/modules/dashboard/dashboard.service.ts
  frontend/src/app/modules/dashboard/pages/admin/dashboard-list/dashboard-list.component.ts
  frontend/src/app/modules/dashboard/pages/dashboard-detail/dashboard-detail.component.ts
  frontend/src/app/modules/dashboard/pages/dashboard-tv/dashboard-tv.component.ts
  frontend/src/app/modules/security/user/pages/user-list/user-list.component.ts
  frontend/src/app/modules/security/user/role.service.ts
  frontend/src/app/modules/security/user/user.service.ts
  frontend/src/app/modules/settings/pages/settings-list/settings-list.component.ts
  frontend/src/app/modules/widget/pages/admin/configuration/configuration-list/widget-configuration-list.component.ts
  frontend/src/app/modules/widget/pages/admin/configuration/widget-configuration.service.ts
  frontend/src/app/modules/widget/pages/widget-list/widget-list.component.css
  frontend/src/app/modules/widget/pages/widget-list/widget-list.component.html
  frontend/src/app/modules/widget/pages/widget-list/widget-list.component.ts
  frontend/src/app/modules/widget/widget.service.ts
  frontend/src/app/shared/auth/guards/admin.guard.ts
  frontend/src/app/shared/auth/guards/auth.guard.ts
  frontend/src/app/shared/components/toast/toast.component.ts
  frontend/src/app/shared/components/toast/toast.service.ts
  frontend/src/app/shared/interceptors/error.interceptor.ts
  frontend/src/app/shared/interceptors/token.interceptor.ts
  frontend/src/app/shared/services/settings.service.ts
  frontend/src/app/shared/services/websocket.service.ts
  frontend/src/polyfills.ts
  frontend/src/tsconfig.spec.json
  frontend/tslint.json
Labels: dependencies, enhancement, expert, frontend

#308 Bugfix/ui bugs
  frontend/src/app/home/home.component.ts
  frontend/src/app/layout/header/pages/pages-header.component.html
  frontend/src/app/layout/sidenav/pages/sidenav.component.html
  frontend/src/app/modules/dashboard/dashboard.module.ts
  frontend/src/app/modules/dashboard/dashboard.route.ts
  frontend/src/app/modules/dashboard/dashboard.service.ts
  frontend/src/app/modules/widget/pages/widget-list/widget-list.component.html
  frontend/src/app/modules/widget/pages/widget-list/widget-list.component.ts
  frontend/src/app/modules/widget/widget.route.ts
Labels: bug, frontend, security, ui / ux

#310 Fix dashboard initialization
  frontend/src/app/modules/dashboard/dashboard.service.ts
Labels: beginner, bug, frontend

#311 Bugfix/dashboard list update
  frontend/src/app/modules/dashboard/dashboard.service.ts
Labels: beginner, bug, frontend

#312 Update template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: beginner, documentation

#313 Update favicon with a nice suricate
  frontend/src/assets/favicon.ico
  frontend/src/favicon.ico
  frontend/src/index.html
Labels: beginner, frontend, ui / ux

#314 Remove useless package-lock.json, use yarn.lock now
  frontend/package-lock.json
Labels: beginner, dependencies, frontend

#315 Add a nice banner to backend startup
  backend/src/main/resources/application.yml
  backend/src/main/resources/banner.txt
Labels: backend, beginner, enhancement
